textarea {width:100%}
input[type="submit"]{margin-top:10px;}
ul {margin: 0; padding: 0;}
li {list-style: none}
a {text-decoration:none; color: #333;}

/* ---- 라이브러리 ---- */

/* ---- 네비게이션 ----*/
nav.navbar {display:block;}
/* -- 메뉴바 -- */
nav > .menu-bar {padding: 0 12px; }
.menu-bar > .container {display: flex;}
.menu-bar ul {}
.menu-bar ul > li {padding: 5px 10px;}