<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
  <table class="table">
    <thead class="table-dark" style="background-color: gray">
    <tr class="text-center">
      <th>번호</th>
      <th style="width:50%">제목</th>
      <th>글쓴이</th>
      <th>작성날짜</th>
    </tr>
    </thead>
    <tbody th:each="article, loop: ${articleList}">
    <tr class="text-center">
      <td th:text="${loop.count}"></td>
      <td class="text-start">
        <a th:href="@{|/article/detail/${article.id}}" th:text="${article.title}"></a>
      </td>
      <td><span th:if="${article.author != null}" th:text="${article.author.username}"></span></td>
      <td th:text="${article.createDate}"></td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/article/create}">글 등록하기</a>
</div>
</html>

